{% extends "admin/index.html" %}
{% load i18n static %}
{% load static %}
{% load template_tools %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/css/index_styles.css' %}">
  <link rel="stylesheet" href="{% static 'admin/css/dashboard.css' %}">
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-l-6 col-m-12 col-12">
        <div id="content-main">
          {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
        </div>
      </div>
      <div class="col-l-2 col-m-6 col-12">
        <div id="content-related" >
          <div class="module" id="recent-actions-module">
            <h2>{% translate 'Recent actions' %}</h2>
            <h3>{% translate 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}

            {% if not admin_log %}
              <p>{% translate 'None available' %}</p>
            {% else %}
              <ul class="actionlist">
                {% for entry in admin_log %}
                  <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                    {% if entry.is_deletion or not entry.get_admin_url %}
                      {{ entry.object_repr }}
                    {% else %}
                      <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                    {% endif %}
                    <br>
                    {% if entry.content_type %}
                      <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                    {% else %}
                      <span class="mini quiet">{% translate 'Unknown content' %}</span>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-l-4 col-m-6 col-12">
        <div class="container-fluid">
          <div class="row" id="statistic">
            {% from apps.core.basic_tools import internet_connection_exists %}

            {% if internet_connection_exists %}
              <script src="https://www.google.com/jsapi"></script>
              <script src="{% static '/js/draw_diagram.js' %}"></script>

              <div class="col-m-12 col-s-6 col-12 py-0 px-2">
                <div id="diagram-categories" class="diagram"></div>
              </div>
              <div class="col-m-12 col-s-6 col-12 py-0 px-2">
                <div id="diagram-users" class="diagram"></div>
              </div>

              <script>
                  drawPieDiagram("Category", "Count", "Count of products for each category",
                                 "???", "diagram-categories", JSON.parse('{{ categories_counts | safe }}'))

                  drawDateTrendLineDiagram("Users", "Date", "Count of users for each month",
                                           "???", "diagram-users", JSON.parse('{{ users_per_months | safe }}'))
              </script>
            {% else %}
              <script src="{% static '/js/init_table.js' %}"></script>

              <div class="col-m-12 col-s-6 col-12 py-0 px-2">
                <table id="table-categories"></table>
              </div>
              <div class="col-m-12 col-s-6 col-12 py-0 px-2">
                <table id="table-users"></table>
              </div>

              <script>
                  initTable(3, "table-categories", "Count of products for each category",
                            ['Category', 'Count'], JSON.parse('{{ categories_counts | safe }}'))

                  initTable(3, "table-users", "Count of users for each month",
                            ['Date', 'Count'], JSON.parse('{{ users_per_months | safe }}'))
              </script>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}{# This block is already added to block content #}{% endblock %}



