body {
    margin: 0;
    font-family: system-ui;
    line-height: 1.5;
}





/*
.container-grid.c-4>*:nth-child(4n + 1):nth-last-child(-n + 4),
.container-grid.c-4>*:nth-child(4n + 1):nth-last-child(-n + 4) ~ * {
    background: red;
}

*/

