.card {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.5rem;
}

.card h1, .card h2, .card h3,
.card h4, .card h5, .card h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: calc(1.3rem + .6vw);
    font-family: inherit;
    line-height: 1.2;
}
