.row {
    --gutter-x: 1.5rem;
    --gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--gutter-y));
    margin-right: calc(-.5 * var(--gutter-x));
    margin-left: calc(-.5 * var(--gutter-x));
}

.row>* {
    padding-right: calc(var(--gutter-x) * .5);
    padding-left: calc(var(--gutter-x) * .5);
    width: 100%;
}

[class|="col"] {
    flex: 0 0 auto;
    flex-direction: column;
}

.col-0 {
    width: 0;
}

.col, .col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc(2 / 12 * 100%);
}

.col-3 {
    width: calc(3 / 12 * 100%);
}

.col-4 {
    width: calc(4 / 12 * 100%);
}

.col-5 {
    width: calc(5 / 12 * 100%);
}

.col-6 {
    width: calc(6 / 12 * 100%);
}

.col-7 {
    width: calc(7 / 12 * 100%);
}

.col-8 {
    width: calc(8 / 12 * 100%);
}

.col-9 {
    width: calc(9 / 12 * 100%);
}

.col-10 {
    width: calc(10 / 12 * 100%);
}

.col-11 {
    width: calc(11 / 12 * 100%);
}

.col-12 {
    width: 100%;
}

@media (min-width: 576px) {
    .col-s-0 {
        width: 0;
    }

    .col-s-1 {
        width: calc(100% / 12);
    }

    .col-s-2 {
        width: calc(2 / 12 * 100%);
    }

    .col-s-3 {
        width: calc(3 / 12 * 100%);
    }

    .col-s-4 {
        width: calc(4 / 12 * 100%);
    }

    .col-s-5 {
        width: calc(5 / 12 * 100%);
    }

    .col-s-6 {
        width: calc(6 / 12 * 100%);
    }

    .col-s-7 {
        width: calc(7 / 12 * 100%);
    }

    .col-s-8 {
        width: calc(8 / 12 * 100%);
    }

    .col-s-9 {
        width: calc(9 / 12 * 100%);
    }

    .col-s-10 {
        width: calc(10 / 12 * 100%);
    }

    .col-s-11 {
        width: calc(11 / 12 * 100%);
    }

    .col-s-12 {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .col-m-0 {
        width: 0;
    }

    .col-m-1 {
        width: calc(100% / 12);
    }

    .col-m-2 {
        width: calc(2 / 12 * 100%);
    }

    .col-m-3 {
        width: calc(3 / 12 * 100%);
    }

    .col-m-4 {
        width: calc(4 / 12 * 100%);
    }

    .col-m-5 {
        width: calc(5 / 12 * 100%);
    }

    .col-m-6 {
        width: calc(6 / 12 * 100%);
    }

    .col-m-7 {
        width: calc(7 / 12 * 100%);
    }

    .col-m-8 {
        width: calc(8 / 12 * 100%);
    }

    .col-m-9 {
        width: calc(9 / 12 * 100%);
    }

    .col-m-10 {
        width: calc(10 / 12 * 100%);
    }

    .col-m-11 {
        width: calc(11 / 12 * 100%);
    }

    .col-m-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-l-0 {
        width: 0;
    }

    .col-l-1 {
        width: calc(100% / 12);
    }

    .col-l-2 {
        width: calc(2 / 12 * 100%);
    }

    .col-l-3 {
        width: calc(3 / 12 * 100%);
    }

    .col-l-4 {
        width: calc(4 / 12 * 100%);
    }

    .col-l-5 {
        width: calc(5 / 12 * 100%);
    }

    .col-l-6 {
        width: calc(6 / 12 * 100%);
    }

    .col-l-7 {
        width: calc(7 / 12 * 100%);
    }

    .col-l-8 {
        width: calc(8 / 12 * 100%);
    }

    .col-l-9 {
        width: calc(9 / 12 * 100%);
    }

    .col-l-10 {
        width: calc(10 / 12 * 100%);
    }

    .col-l-11 {
        width: calc(11 / 12 * 100%);
    }

    .col-l-12 {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-xl-0 {
        width: 0;
    }

    .col-xl-1 {
        width: calc(100% / 12);
    }

    .col-xl-2 {
        width: calc(2 / 12 * 100%);
    }

    .col-xl-3 {
        width: calc(3 / 12 * 100%);
    }

    .col-xl-4 {
        width: calc(4 / 12 * 100%);
    }

    .col-xl-5 {
        width: calc(5 / 12 * 100%);
    }

    .col-xl-6 {
        width: calc(6 / 12 * 100%);
    }

    .col-xl-7 {
        width: calc(7 / 12 * 100%);
    }

    .col-xl-8 {
        width: calc(8 / 12 * 100%);
    }

    .col-xl-9 {
        width: calc(9 / 12 * 100%);
    }

    .col-xl-10 {
        width: calc(10 / 12 * 100%);
    }

    .col-xl-11 {
        width: calc(11 / 12 * 100%);
    }

    .col-xl-12 {
        width: 100%;
    }
}