.required label, .aligned label.required {
    font-weight: normal;
}

.aligned label.required:not(.vCheckboxLabel):after {
    content: " *";
    padding-top: 3px;
    padding-left: 3px;
    font-weight: bold;
}